doctype html
head
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='icon' type='image/png' href='/img/favicon.png')
  link(href='https://fonts.googleapis.com/css2?family=Nunito&family=Nanum+Gothic:wght@700&display=swap' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Dev Scouter')
  meta(name='keywords' content='Dev Scouter, Developer, Scouter')
  meta(name='author' content='MontyCoder0701')
  meta(name='language' content='English')
  meta(name='generator' content='Dev Scouter')
  meta(name='og:title' content='Dev Scouter')
  meta(name='og:description' content='Dev Scouter')
  meta(name='og:image' content='/img/favicon.png')
  meta(name='og:url' content='https://devlevel-client.onrender.com/')
  meta(name='og:site_name' content='Dev Scouter')
  title Dev Scouter
div
  .lang-content 
      a(href='#', class="korean-btn") Korean
      br
      br
      a(href='#', class="english-btn") English
h1#h1-text
form#year-form
  label Years of Experience
  input#start-year(class='start-year' type='text' name='start-year' placeholder="Start (YYYYMMDD)") 
  input#end-year(class='end-year' type='text' name='end-year' placeholder="End (YYYYMMDD)")
  button#add-year(type='button') Add
  div#year-fields-container
  br
  span#result-year
  br
  span#total-year
  button#year-submit(type='submit') 
form#username-form
  label#label-text(for='username')
  input#username(type='text' name='username')
  button#username-submit(type='submit') 
#results
#loading
  img(src='/img/loading.gif' alt='Loading...')
script(src='/js/translate.js' crossorigin='anonymous')
script(src='/js/year_calc.js' crossorigin='anonymous')
script(src='/js/index.js' crossorigin='anonymous')
