doctype html
head
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(rel='icon' type='image/png' href='/img/favicon.png')
  link(href='https://fonts.googleapis.com/css2?family=Nunito&family=Nanum+Gothic:wght@700&display=swap' rel='stylesheet')
  title Dev Scouter
div
  .lang-content 
      a(href='#', class="korean-btn") Korean
      br
      br
      a(href='#', class="english-btn") English
h1#h1-text
form#year-form
  label Years of Experience
  input#start-year(type='date' name='start-year' placeholder='Start Year') 
  input#end-year(type='date' name='end-year' placeholder='End Year')
  br
  span#result-year
  button#year-submit(type='submit') 
form#username-form
  label#label-text(for='username')
  input#username(type='text' name='username')
  button#username-submit(type='submit') 
#results
#loading
  img(src='/img/loading.gif' alt='Loading...')
script(src='/js/translate.js' crossorigin='anonymous')
script(src='/js/year_calc.js' crossorigin='anonymous')
script(src='/js/index.js' crossorigin='anonymous')
