* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: #f4f4f4;
}

h1,
form,
#results {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

#results {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

#results p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

@media (max-width: 600px) {

    h1,
    form,
    #results {
        max-width: 90%;
    }
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#loading img {
    width: 50px;
    height: 50px;
}

.show-loading #loading {
    display: block;
}

.korean-btn {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    position: absolute;
}

.korean-btn.active {
    background-color: #626262;
}

.english-btn {
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    position: absolute;
}

.english-btn.active {
    background-color: #626262;
}